/* styles for the header */
header {
  margin: 50px;
  display: inline;
}

/* styles for link to highscore page */
header .high-score {
  display: inline-block;
  margin-top: 50px;
  color: #b567e5;
  text-decoration: none;
}

/* styles for the header p */
header p {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

/* styles for the start page container */
.start-section {
  display: flex;
  height: 200px;
  width: 400px;
  margin: 0 25% 0 25%;
  flex-direction: column;
}

/* styles for the start page h1 and p */
.start-section h1,
.start-section p {
  text-align: center;
}

/* styles for the start button container*/
.start-button {
  display: flex;
  height: 200px;
  flex-direction: column;
  margin: 0 20%;
}

/* styles for the start button */
.start-btn {
  flex: 0 0 45px;
  border-radius: 15px;
  flex-direction: column;
  background-color: #352174;
  margin: 2px;
  color: white;
  font-size: 30px;
  padding-left: 49px;
}

/* style for start button on hover */
.start-btn:hover {
  background-color: #b567e5;
}

/* styles for question container */
.question-section {
  display: flex;
  height: 400px;
  width: 400px;
  margin: 0 25% 0 25%;
  flex-direction: column;
}

/* styles for container holding buttons */
.answer-buttons {
  display: flex;
  height: 200px;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
/*  styles for answer buttons */
.answer-btn {
  flex: 0 0 45px;
  border-radius: 15px;
  flex-direction: column;
  background-color: #352174;
  margin: 2px;
}
/* styles for answer buttons on hover */
.answer-btn:hover {
  background-color: #b567e5;
}

/* styles for correct/wrong text displayed below questions */
.correct-wrong {
    font-size: 40px;
    color: grey;
}

/* styles for container holding done section */
.done-section {
  padding-left: 40%;
}

